.container{
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    padding-top: 20px;
}

.status_wrapper{
    padding-bottom: 5px;
    font-weight: 600;
    /* font-family:  'Courier New', Courier, monospace; */
    font-size: larger;
    /* width: 200px; */
}

.restart_btn{
    padding: 8px 16px;
    
    color: white;
    font-weight: 500;
    font-size: medium;
    outline: none;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.winner_bg{
    background-color: rgb(81, 197, 55); 
}

.clear_bg{
    background-color: #fb3445;
}

/* .restart_btn:hover{
    background-color: rgb(232, 10, 10);
} */
