.board_wrapper{
    display: flex;
    width: inherit;
    
}

.board_container{
    display:  flex;
    gap: 100px;
}

@media only screen and (max-width: 600px) {
    .board_container {
      display: flex;
      flex-direction: column;
    }
  }


.board_squares{
    display: grid;
    /* gap: 1px; */
   grid-template-columns: repeat(3,auto);
    height: 300px;
    width: 300px;
    /* border: 2px solid rebeccapurple */
}

/* .board_squares:first-child,
.board_squares:nth-child(2),
.board_squares:nth-child(3){
    border-top: none;
    border-left: none;
    background-color: violet !important;
}

.board_squares:last-child,
.board_squares:nth-child(7),
.board_squares:nth-child(8){
   
    border-bottom: none;
} */




