.square_btn{
    height: 50px;
    width: 60px;
    font-weight: bolder;
    font-size: large;
    color: red;
    margin: 2px;
 border: none;
}

.X_color{
    color: red;
}

.Y_color{
    color: blue;
}